# Sistema
.DS_Store
.Trash

# Historiales y Caché
.zsh_history
.zcompdump*
.zsh_sessions/

# Archivos de la IA local
*.log
.cache/

# Entorno Privado de René
privado/
.*_NAS

# Archivos de respaldo locales
*.seguro
*.backup
*.bak
